.centeredLogo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(217, 217, 228);
}
/* .centeredLogo img {
  margin-top: 100px;
  height: 100px;
  margin-bottom: 50px;
} */

form input {
  margin: 10px 0 10px 0;
  width: 350px;
  height: 40px;
  border-radius: 5px;
}
